.footer-section{
    box-shadow: inset 1px 1.732px 0px rgba(255,255,255,0.58);
    background-color: #006896;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -20px;
}
.footer-advertisement{
    opacity: 0.502;
    width: 751px;
    border-radius: 15px;
    filter: drop-shadow(0.5px 0.866px 0px rgba(255,255,255,0.24));
    box-shadow: inset 1px 1.732px 2px rgba(0,0,0,0.24);
    background-color: #006896;
    padding: 0 10px 10px 10px;
    margin: 45px 0 30px 0;
}
.advertisement-copy{
    opacity: 0.200;
    font-size: 11px;
    color: #ffffff;
    font-family: "Arial";
    text-align: right;
    padding-right: 20px;
}
.advertisement-banner{
    opacity: 0.502;
    filter: drop-shadow(0.5px 0.866px 0px rgba(255,255,255,0.24));
    box-shadow: inset 1px 1.732px 2px rgba(0,0,0,0.24);
    background-color: #1398d3;
    opacity: 0.149;
    font-size: 43px;
    color: #ffffff;
    font-family: "Koz Go Pr6 N";
    padding: 20px 0;
    text-align: center;
}
.footer-navbar{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #005b83;
}
.footer-nav-inner{
    width: 1005px;
    display: flex;
    justify-content: space-between;
    padding: 0px 30px;
    /* opacity: 0.502; */
}
.footer-nav-link{
    opacity: 0.800;
    font-size: 12px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: bold;
    font-family: "Koz Go Pr6 N";
    padding: 15px 10px;
}
.footer-nav-link:hover{
    background-color: white;
    color:#005b83;
}
.copyright-n-creator-outer{
    background-color: #004e71;
}
.copyright-n-creator-inner{
    width: 1005px;
    display: flex;
    justify-content: space-between;
    padding: 15px 30px 50px;
}
